<a href="https://colab.research.google.com/github/rvoloder/walmart_sales/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

1. Source of data: Kaggle

2. Brief Description of Data: Walmart Weekly Retail Sales (based on a variety of components - holidays, temperature, unemployment rate etc.)

3. Target: Weekly Sales

4. This is a regression problem.

5. Number of Features: 8

6. Number of Rows: 6435

7. What if any challenges: The dataset looks like a very nice machine learning dataset. As of now, I see no forseeable challenges.

In [5]:
df_1 = pd.read_csv('/content/Walmart.csv')
df_1.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [6]:
df_1.shape

(6435, 8)

1. Source of data: Kaggle

2. Brief Description of Data: Retail sales per product from a Turkish retail company.

3. Target: Sales Quantity

4. This is a regression problem.

5. Number of Features: 12

6. Number of Rows: 646957

7. What if any challenges: Appears to have a lot of missing data but I believe columns could be dropped. There also appears to be many rows which could slow down the model.

In [3]:
df = pd.read_csv('/content/sales.csv')
df.head()

,product_id,store_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,P0001,S0002,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
1,P0001,S0012,2017-01-02,1.0,5.30,0.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
2,P0001,S0013,2017-01-02,2.0,10.59,0.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
3,P0001,S0023,2017-01-02,0.0,0.00,6.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
4,P0001,S0025,2017-01-02,0.0,0.00,1.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN

In [4]:
df.shape

(646957, 13)